{
	"root": true,
	"parserOptions": {
		"ecmaVersion": 6
	},
	"env": {
		"node": true,
	},
	"rules": {
		"no-undefined": "warn",
		"no-self-compare": "warn",
		"no-with": "error",
		"yoda": "warn",
		"comma-spacing": ["warn", {"before": false, "after": true}],
		"no-invalid-this": "error",
		"no-multiple-empty-lines": ["warn", {"max": 2, "maxEOF": 1}],
		"no-mixed-spaces-and-tabs": ["error", "smart-tabs"]
	}
}